{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Lista de Usuarios</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Tipo de Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.tipo_usuario }}</td>
                <td>
                    <a href="{% url 'edit_usuarios' usuario.id %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a href="{% url 'delate_usuarios' usuario.id %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'create_usuarios' %}" class="btn btn-primary">
            <i class="bi bi-person-plus"></i> Añadir Usuario
        </a>
    </div>
</div>
{% endblock %}

